*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Kirang Haerang', cursive;
}

html,body{
    height: 100%;
}

.levels{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    flex-wrap: wrap;

    height: 100%;
}

.level{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;

    text-transform: uppercase;
    font-size: 3rem;

    border: 1px solid grey;
    border-radius: 10px;

    transition: .1s background-color linear,
                .1s transform linear;

    margin: 5px;
}

.level:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 50, 0.1);
}

.level:active{
    transform: translateY(3px);
}

.gameArea{
    display: none;

    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#btn{
   height: 20px;
   width: 120px;
}

.result{
    text-align: center;
    width: 300px;
    height: 70px;
}

.shape2{
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    border-radius: 100%;
    position: absolute;
    z-index: 9999;
}

/* Result Board */

.result__board{
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;

    width: 200px;
    height: 200px;

    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10px;

    padding: .6rem;
}

.results{
    font-size: 2rem;
}